html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{    
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(70deg , violet ,white);
}

h2{
    font-size: 35px;
    color: #642a73;
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
    display: block;
    position: center;
    text-transform: uppercase;
    font-family: Topacio;
    letter-spacing: 0.3em;
}

h3{
    text-align: center;
    margin-top: 1.5rem;
    display:block;
    margin-top:1em;
    text-align:center;
    font-style:italic;
    font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p{
    text-align: center;
}

/*
.titulo h1{
    color: #642a73;
    font-size: 50px;
    text-align: center;
    margin-top: 90px;
    display: block;
    position: center;
}*/

.container{
    padding: 20px 9%;
    margin-top: 2rem;
}

header > div{
    font-size: 13px;
}

.grid-container{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(360px, 1fr));
    grid-gap: 1rem;
}

img{
    width: 100%;
    border-radius: 1rem;
    background-color: rgb(233, 170, 248);
    padding:10px 10px 20px 10px;
    border:1px solid #BFBFBF;
    box-shadow:10px 10px 30px rgba(0, 0, 0, 0.8);
}

img {
    transform:rotate(-10deg);
    -ms-transform:rotate(-10deg); /* IE9 */
    -webkit-transform:rotate(-10deg); /* Safari y Chrome */
    -moz-transform:rotate(-10deg);  
}

.zoom{
    transition: all 500ms ease;
}

.zoom:hover{
    transform: scale(1.8);
    
}

.textoPolaroid {
    display:block;
    margin-top:1em;
    text-align:center;
    font-style:italic;
    font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.grid-item{
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 150px 1fr;
    padding: 1rem;
    grid-gap: 0.5rem;
}

@media (min-width: 220px){
    .galeria{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 520px){
    .galeria{
        grid-template-columns: repeat(2,1fr);

    }
}

@media (min-width: 728px){
    .galeria{
        grid-template-columns: repeat(3,1fr);

    }
}

@media (min-width: 1024px){
    .galeria{
        grid-template-columns: repeat(4,1fr);

    }
}

@media(max-width: 768px){
    .catalogo h2{
        font-size: 3em;
    }
}